<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur notre super site de gossip !</h1>
    <p>Pour balancer un nouveau potin, clique juste <a href="/gossips/new/">ici</a> !</p>

    <% gossips.each do |gossip| %>
      <p>
        <%= gossip.author %><br/>
        <%= gossip.content %>
      </p>
    <% end %>

    
  </body>
</html>